.mainHeader {
	background-color: var(--header-background);
	width: 100%;
	color: white;
}

.mainHeader h1 {
	font-size: 32px;
}

.centeredMainHeader {
	display: flex;
	margin-block: 15px;
	padding-inline: 15px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logoContainer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logoContainer > img {
	width: 40px;
	height: auto;
}
