.notesWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: flex-start;
}

.noteContainer {
	width: 200px;
	max-height: 300px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	border: solid 2px;
}

.noteTitle {
	padding: 5px;
	font-weight: bold;
	margin-bottom: 3px;
}

.noteTitleInput {
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	margin-bottom: 3px;
	text-decoration: underline;
	border: none;
	outline: none;
}

.noteText {
	font-family: inherit;
	font-size: inherit;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 5px;
	overflow: auto;
}

.noteTextArea {
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	background-color: transparent;
	text-decoration: underline;
	border: none;
	outline: none;
	resize: vertical;
	scrollbar-width: thin;
}

.noteBottomBar {
	display: flex;
	align-items: center;
	gap: 5px;
	align-self: flex-end;
	margin-top: 5px;
}

.noteDate {
	font-size: var(--font-size-smaller);
	color: var(--secondary-text-color);
}

.iconContainer {
	padding: 1px;
	cursor: pointer;
	position: relative;
}

.hiddenColorPicker {
	opacity: 0;
	width: 14px;
	height: 14px;
	position: absolute;
	cursor: pointer;
}
