.notesWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: stretch;
}

.noteContainer {
	width: calc(25% - 15px);
	max-height: 250px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	border: solid 2px;

	@media (max-width: 870px) {
		width: calc(33% - 10px);
	}

	@media (max-width: 600px) {
		width: calc(50% - 10px);
	}

	@media (max-width: 380px) {
		width: 100%;
	}
}

.noteTitle {
	padding: 5px;
	font-weight: bold;
	margin-bottom: 3px;
}

.noteTitleInput {
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	margin-bottom: 3px;
	text-decoration: underline;
	border: none;
	outline: none;
}

.noteText {
	font-family: inherit;
	font-size: inherit;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 5px;
	overflow: auto;
	flex-grow: 1;
}

.noteTextArea {
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	background-color: transparent;
	text-decoration: underline;
	border: none;
	outline: none;
	resize: vertical;
	scrollbar-width: thin;
}

.noteBottomBar {
	display: flex;
	align-items: center;
	gap: 5px;
	align-self: flex-end;
	margin-top: 5px;
}

.noteDate {
	font-size: var(--font-size-smaller);
	color: var(--secondary-text-color);
}

.iconContainer {
	padding: 1px;
	cursor: pointer;
	position: relative;
}

.hiddenColorPicker {
	opacity: 0;
	width: 14px;
	height: 14px;
	position: absolute;
	cursor: pointer;
}

.confirmDeleteNoteBody {
	border-left: solid 4px;
	padding-left: 5px;
	margin-bottom: 5px;
}
