:root {
	--header-background: #001529;
	--secondary-text-color: #5c5c5c;

	--font-size: 14px;
	--font-size-smaller: 12px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100dvh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: var(--font-size);
}

a {
	text-decoration: none;
}

.scrollbar {
	scrollbar-gutter: stable;
}

.scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
	border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
	background-color: #efefef;
	border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
	.scrollbar {
		scrollbar-color: #c1c1c1 #efefef;
		scrollbar-width: thin;
	}
}

#root {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

.app-wrapper {
	width: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

.app-wrapper > header {
	flex-grow: 0;
}

.app-wrapper > main {
	flex-grow: 1;
	width: 100%;
	max-width: 1000px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
}

.app-wrapper > footer {
	flex-grow: 0;
}

.center1000px {
	width: 100%;
	max-width: 1000px;
	margin-inline: auto;
	display: flex;
}
